<div class="footer">
    <div class="container">
        <p class="title">Contact Us</p>
        <form class="contact-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Password</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col form-msg">
                    <label for="message">Your Message</label>
                    <textarea class="form-control" id="message" placeholder="Enter your message"></textarea>
                </div>
            </div>
            <div class="btn-row">
                <button type="submit" class="btn btn-msg" triggers="click:blur">
                    SEND MESSAGE
                </button>
            </div>
        </form>

        <div class="investor">
            <p>Investor</p>
            <div class="row icon-row">
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    escapex
                </div>
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    Huobi
                </div>
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    Loopring
                </div>
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    Huobi
                </div>
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    novus
                </div>
                <div class="icon-item col-lg-2 col-md-6 col-6">
                    livecoin
                </div>
            </div>
           <div class="white-line"></div>
        </div>

        <div class="row follow-us">
            <div class="col-lg-3 first-col first-web col-md-12">
                <div class="row orsus-logo">
                    orsus
                </div>   
                <div class="row orsus-desc">
                    Democratizing talent discovery and reinventing the entertainment industry.  
                </div> 
            </div>
            <div class="col-lg-2 second-col col-md-6 col-6">
                <div class="row">
                    WHY ORSUS
                </div>       
                <div class="row">
                    TOKEN ECONOMY
                </div> 
                <div class="row">
                    PARTNERING WITH INDUSTRY LEADERS
                </div> 
                <div class="row">
                    ORSUS TALENT DISCOVERY
                </div> 
            </div>
            <div class="col-lg-2 third-col col-md-6 col-6">
                <div class="row">
                    OUR TEAM
                </div>   
                <div class="row">
                    ROADMAP
                </div>  
                <div class="row">
                    OUR EXCHANGE
                </div>  
                <div class="row">
                    OUR PARTNERS
                </div>  
            </div>
            <div class="col-lg-2 fourth-col col-md-12 col-6">
                <div class="row">
                    CONTACT
                </div>    
                <div class="row">
                    PRIVACY POLICY
                </div>
                <div class="row">
                    TERMS OF USE
                </div>
            </div>
            <div class="col-lg-3 first-col first-mobile col-md-12">
                <div class="row orsus-logo">
                    orsus
                </div>   
                <div class="row orsus-desc">
                    Democratizing talent discovery and reinventing the entertainment industry.  
                </div> 
            </div>
            <div class="col-lg-3 fifth-col col-md-12">
                <div class="row follow-text">
                    Follow us on
                </div>
                <div class="row social-icons">
                    <img src="assets/icons/facebook.svg"/>
                    <img src="assets/icons/twitter.svg"/>
                    <img src="assets/icons/instagram.svg"/>
                    <img src="assets/icons/linkedin.svg"/>
                    <img src="assets/icons/telegram.svg"/>
                </div>
                <p class="copyright">
                    © Orsus Ltd 2019. All rights reserved.
                </p>
            </div>         
        </div>
    </div>
</div>
