@font-face {
    font-family: 'FuturaBT';
    src: url('/assets/fonts/futura/FuturaBT-Medium.eot') format('embedded-opentype'),
    url('/assets/fonts/futura/FuturaBT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}