
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/opensans/OpenSans-Regular.woff2') format('woff2'), 
  url('assets/fonts/opensans/OpenSans-Regular.woff') format('woff'), 
  url('assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype'), 
  url('assets/fonts/opensans/OpenSans-Regular.svg#OpenSansRegular') format('svg');
}

