$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$grape-purple: #28144b;
$grape-purple-two: #2d1457;
$primary-text-color: #ffffff;
$charcoal-gray: #35303c;
$white-two: #f6f6f6;
$cool-gray: #8f9397;
$perrywinkle-two: #a29fee;