<section class="homeSection">
    <div class="container">
        <p class="title"><span class="democratizing">Democratizing</span> the entertainment industry and reinventing talent discovery with blockchain.</p>
        <label for="input-email" class="subs">Subscribe for Updates!</label>
        <div class="row row-email"> 
                <input id="input-email" type="text" class="form-control your-email" placeholder="Your Email"/>
                <button type="button" class="btn btn-submit">Submit</button>
        </div>
       
    </div>
</section>

<section class="withOrsusSection">
    <div class="container">
        <p class="title-with-orsus">With Orsus</p>

        <div class="creators-influencers">
            <div class="col-lg creators-img img-mobile">
                <img src="assets/artist-img.png"/>
            </div>
            <div class="creators-title">
                <p>Artists</p>
            </div>
            <div class="row">
                <div class="col-lg creators-list">
                    <ul>
                        <li>Get discovered</li>  
                        <li>Curate the talent of tomorrow</li>
                        <li>Collaborate with and sponsor other influencers and creators</li>
                        <li>Gain a fair and transparent share of earnings and rewards</li>
                    </ul>
                </div>
                <div class="col-lg creators-img img-web">
                    <img src="assets/artist-img.png"/>
                </div>
            </div>
        </div>
       
        <div class="fans-followers">
            <div class="col-lg fans-img img-mobile">
                <img src="assets/artist-img.png"/>
            </div>
            <div class="fans-title">
                <p>Fans</p>
            </div>
            <div class="row">
                <div class="col-lg fans-img img-web">
                    <img src="assets/artist-img.png"/> <!-- alternative -->
                </div>
                <div class="col-lg fans-list">
                    <ul>
                        <li>Connect directly with creators and influencers</li>  
                        <li>Get rewarded for having their voice heard</li>
                        <li>Promote talent and content discovery</li>
                        <li>Participate in revenue from IP they helped create</li>
                        <li>Take part in the long-term success of the creators and influencers they love</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whyOrsusSection">
    <div class="container">
        <p class="title-why-orsus">Why Orsus</p>
        <div class="row why-video">
            <img src="assets/artist-img.png"/> <!-- alternative -->
        </div>
        <div class="row why-text">
           <p>Orsus is a free decentralized platform that leverages both traditional and blockchain based smart contracts to bring transparency and immutability into the talent discovery process. 
            Fans and followers can use the Orsus platform to discover, collaborate with, and participate in the revenue successes of new stars without the need for traditional industry gatekeepers.</p>
        </div>
    </div>
</section>

<section class="ecosystemSection">
    <div class="container">
        <p class="title-eco">Orsus Ecosystem</p>
        <div class="row">
            <div class="col-lg">
                <div class="row eco-icon">
                    <img src="" alt="Icon One" />
                </div>
                <div class="row eco-title">
                    <p class="title">
                        Orsuschain
                    </p>
                </div>
                <div class="row eco-desc">
                    <p class="desc">
                        A proprietary hybrid chain that uses PoS and connects with a public chain enabling instant, secure, low cost transactions.
                    </p>
                </div>  
            </div>
        <div class="col-lg">
            <div class="row eco-icon">
                <img src="" alt="Icon Two" />
            </div>
            <div class="row eco-title">
                <p class="title">
                    Orxchange
                </p>
            </div>
            <div class="row eco-desc">
                <p class="desc">
                    A built-in exchange where fans, emerging talents and leading creators can trade tokens and fund projects in a vibrant secondary market.
                </p>
            </div>
        </div>
        <div class="col-lg">
            <div class="row eco-icon">
                <img src="" alt="Icon Three" />
            </div>
            <div class="row eco-title">
                <p class="title">
                    DApps
                </p>
            </div>
            <div class="row eco-desc">
                <p class="desc">
                    An open platform featuring both native and free plug-ins for any third party DApps that support the tokenization of IP monetization and talent discovery.
                </p> 
            </div>
        </div>
        </div>
    </div>
</section>
<app-footer></app-footer>


